/* .modalStyle {
    position: fixed;
    top: 64px;
    padding: 24px;
    left: 64px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
  }
   */

   .modalStyle {
    position: absolute;
    width: 400px;
    padding: (2px,4px,3px);
    background-color: white;
    border: '2px solid #000';

  }
  